@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    // show("a")
    //     .then(data => {
    //         console.log(data);
    //         return show("b");
    //     })
    //             .then(data => {
    //         console.log(data);
    //         return show("c");
    //     })
    //     .then(data => {
    //         console.log(err);
           
    //     })


</script>