@{
    ViewData["Title"] = "CheckAccount";
}

<h1>CheckAccount</h1>
<div id="validationMessage" class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form id="userForm">
            <div class="mb-3">
                <label for="userName" class="form-label">姓名：</label>
                <input type="text" class="form-control" id="userName" name="Name">
            </div>
            <div class="alert alert-warning" id="divWarn"></div>

            <div class="mb-3">
                <label for="UserEmail" class="form-label">電子郵件：</label>
                <input type="email" class="form-control" id="UserEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="userAge" class="form-label">年紀：</label>
                <input type="number" class="form-control" id="userAge" name="Age">
            </div>

            <button id="button1" type="submit" class="btn btn-primary">送出</button>
        </form>
        <div class="alert alert-info" id="div1"></div>
    </div>
    <div class="col-3">
    </div>
</div>


@section Scripts
{
    <script>
        let inputname = document.getElementById("userName")

        $(function () {
            inputname.addEventListener('blur', async () => {
                let url = "@Url.Content("~/api/CheckAccount")?Name=" + inputname.value
                let data = await fetch(url)
                    .then(x => x.text())
                    .then(x => $("#divWarn").html(x))

            })
        })

    </script>
}

