@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="sites" class="row row-cols-1 row-cols-md-3 g-4">
    <!--https://getbootstrap.com/docs/5.3/components/card/#card-groups-->
    @* @section Scripts{
    <script src="~/js/travel.js"></script>
    <script>

    //console.log(spots.CommonFormat.Section);
    const datas = spots.CommonFormat.Section.map(spot => {
    fuction isArray(obj){
    return Object.prototype.toString.call(obj) === '[object Array]';
    }

    ㄙㄟ



    `<div class="col">
    <div class="card h-100">
    <img src="${imgSrc}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title" > ${ spot.stitle} </h5>
    < p class="card-text" > ${ spot.xbody } </p>
    </div>
    <div class="card-footer">
    <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
    </div>
    </div>`)
    })
    </script> *@

    @section Scripts {
        <script src="~/js/travel.js"></script>
        <script>

                const datas = spots.CommonFormat.Section.map(spot => {
                const des = spot.stitle;
                const img = spot.file.img[0]?.text;
                const content = spot.xbody;
                    const date = spot.xpostDate;
              

                return (
                    `<div class="col">
                                        <div class="card h-100">
                                                <img src="${img}" class="card - img - top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">${des}</h5>
                                                <p class="card-text">${content}</p>
                                            </div>
                                            <div class="card-footer">
                                                      <small class="text-body-secondary">${date}</small>
                                            </div>
                                        </div>
                                    </div>`)
            });

            document.querySelector('#sites').innerHTML = datas.join("")

        
        </script>
    }
